


<!--  form for add warehouse -->
<p-dialog
  header="Add Warehouse"
  [(visible)]="displayWarehouseAdd"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div>
    <table>
      <tr>
        <label for="warehouseId">Warehouse ID</label>
        <input
          type="number"
          pInputNumber
          [(ngModel)]="warehouseFormData.warehouseId"
          id="warehouseId"
        />
      </tr>
      <tr>
        <label for="warehouseId">Warehouse Name</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="warehouseFormData.warehouseName"
          placeholder="Warehouse Name"
        />
      </tr>
      <tr>
        <label for="warehouseId">Warehouse Location</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="warehouseFormData.location"
          placeholder="Location"
        />
      </tr>
      <tr>
        <label for="Capacity Max">Capacity Max </label>
        <input
          type="number"
          pInputText
          [(ngModel)]="warehouseFormData.capacityMax"
          id="Capacity Max"
        />
      </tr>
      <tr>
        <label for="warehouseId">Capacity Current</label>
        <input
          type="number"
          pInputText
          [(ngModel)]="warehouseFormData.capacityCurrent"
          id="Capacity Current"
        />
      </tr>
      <tr>
        <label for="warehouseId">Supply</label>
        <input
          type="number"
          pInputText
          [(ngModel)]="warehouseFormData.supply"
          id="Supply"
        />
      </tr>
      <tr>
        <label for="warehouseId">Product ID</label>
        <input
          type="number"
          pInputText
          [(ngModel)]="warehouseFormData.product_id"
          id="Product ID"
        />
      </tr>
      
    </table>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="addWarehouse()"
      label="Submit"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayWarehouseAdd = false"
      label="Cancel"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- form for delete warehouse -->
<p-dialog
  header="Delete Warehouse"
  [(visible)]="displayWarehouseDelete"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div>
    <table>
      <tr>
        <label for="warehouseId">Warehouse ID</label>
        <input
          type="number"
          pInputNumber
          [(ngModel)]="warehouseFormData.warehouseId"
          placeholder=""
          id="warehouseId"
        />
      </tr>
    </table>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="deleteWarehouse(this.warehouseFormData.warehouseId)"
      label="Yes"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayWarehouseDelete = false"
      label="Cancel"
    ></p-button>
  </ng-template>
</p-dialog>

<!--list of warehouses -->
<div>
  <p-table [value]="warehouses"   selectionMode="single" [rows]="10" [paginator]="true" 
  [globalFilterFields]="['id','productName','partNumber']"
  [rowHover]="true" dataKey="id" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header"  >
      <tr>
        <th>Warehouse Id</th>
        <th>Warehouse Name</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Current</th>
        <th>Supply</th>
        <th>Product ID</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse>
      <tr>
        <td>{{ warehouse.warehouseId }}</td>
        <td>{{ warehouse.warehouseName }}</td>
        <td>{{ warehouse.location }}</td>
        <td>{{ warehouse.capacityMax }}</td>
        <td>{{ warehouse.capacityCurrent }}</td>
        <td>{{ warehouse.supply }}</td>
        <td>{{ warehouse.product_id }}</td>
        <!-- <td><p-inputNumber value = "number" mode = "decimal" [(ngModel)] = "warehouse.warehouseId"></p-inputNumber></td>
                <td><p-inputText [(ngModel)] = "warehouse.warehouseName"></p-inputText></td>
                <td><p-inputText [(ngModel)] = "warehouse.location"></p-inputText></td>
                <td><p-inputNumber value = "number" mode = "decimal" [(ngModel)] = "warehouse.capacityMax"></p-inputNumber></td>
                <td><p-inputNumber value = "number" mode = "decimal" [(ngModel)] = "warehouse.capacityCurrent"></p-inputNumber></td>
                <td><p-inputNumber value = "number" mode = "decimal" [(ngModel)] = "warehouse.supply"></p-inputNumber></td>
                <td><p-inputNumber value = "number" mode = "decimal" [(ngModel)] = "warehouse.product_id"></p-inputNumber></td> -->
      </tr>
    </ng-template>
  </p-table>
</div>
<div>
    <div id="navbar">
        <p-splitButton label="Warehouses" [model]="wItems">

        </p-splitButton>
    </div>
  </div>