<p-toast></p-toast>
<!-- <div >
    <p>Products</p>
    <p-table [value]="products" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['id','productName','partNumber']"
    [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        

        <ng-template pTemplate="header">
            <tr>
                <th>Product ID</th> 
                <th>Product Name</th> 
                <th>Part Number</th>

            </tr>    
        </ng-template>
        <ng-template pTemplate="body" let-product>
        <tr> 
            <td>{{product.id}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.partNumber}}</td>
             <td><button class="btn-blue" (click)="selectForUpdate(product)">Edit</button></td> 

        </tr>
    </ng-template>
</p-table>
</div> -->
<!-- add product -->
<p-dialog
  header="Add Product"
  [(visible)]="displayProductAdd"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div >
    <table>
      <tr>
        <label for="id">Product ID</label>
        <input
          type="number"
          pInputNumber
          [(ngModel)]="productFormData.id"
          id="id"
        />
      </tr>
      <tr>
        <label for="productName">Product Name</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="productFormData.productName"
          placeholder="Product Name"
        />
      </tr>
      <tr>
        <label for="partNumber">Part Number</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="productFormData.partNumber"
          placeholder="partNumber"
        />
      </tr>
    </table>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="addProduct()"
      label="Submit"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayProductAdd = false"
      label="Cancel"
    ></p-button>
  </ng-template>
</p-dialog>
<!-- delete product -->
<p-dialog
  header="Delete Product"
  [(visible)]="displayProductDelete"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div>
    <table>
      <tr>
        <label for="id">Product ID</label>
        <input
          type="number"
          pInputNumber
          [(ngModel)]="productFormData.id"
          placeholder=""
          id="id"
        />
      </tr>
    </table>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="deleteProduct(this.productFormData.id)"
      label="Submit"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayProductDelete = false"
      label="Cancel"
    ></p-button>
  </ng-template>
</p-dialog>


<div class="card">
      <p-table [value]="products" dataKey="id" editMode="row"[rows]="10" [paginator]="true" 
      [globalFilterFields]="['id','productName','partNumber']"
      [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
              <tr>
                <th>Product ID</th> 
                <th>Product Name</th> 
                <th>Part Number</th>
                <th><p-splitButton label="Product" [model]="pItems"></p-splitButton></th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex" >
              <tr [pEditableRow]="product">
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="number" [(ngModel)]="product.code">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{product.id}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.productName" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{product.productName}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.partNumber" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{product.partNumber}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td style="text-align:center">
                      <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                      <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>


<!-- <div>
    <div>
      <span>
             <p-splitButton label="Product" [model]="pItems"></p-splitButton>
          </span> 
    </div>
  </div> -->